@import url("https://use.typekit.net/ggw0fzp.css");

html {
    font-size: 16px;
}

body {
    background-color: black;
    font-family: "rocky", serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    color: white;
    margin: auto;
}

.splash {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("../img/splash.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

header {
    font-family: "rocky", serif;
    font-weight: 700;
    font-style: italic;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #FFF;
    height: 4rem;
}

nav {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

nav h1 {
    display: inline;
}

main {
    width: 100%;
    margin: none;
    
}

section {
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    margin-top: 1%;
    padding-bottom: 1%;
    border-bottom: 4px solid #FFF;
}

#splashsection {
    border-bottom: none;
    padding-bottom: none;
    z-index: 2;
}

footer {
    font-family: "rocky", serif;
    font-weight: 700;
    font-style: italic;
    color: white;
    width: 100%;
    margin: 4rem 0px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-top: 4px solid #FFF;
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1,
nav {
    color: #FFF;
    font-family: Rocky;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

p {
    font-family: "rocky", serif;
    font-weight: 500;
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.5;
    color: white;
}

h2,
footer {
    color: #FFF;
    text-align: center;
    font-family: Rocky;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 0 0 2rem;
}

main img {
    max-width: 100%;
    max-height: 45rem; 
}

a:visited,
.selected {
    color: #5093D3;
    border-bottom: 1px solid #5093D3;
}


.arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #FFF;
    display: inline-block;
  }

.arrow-right:hover{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #5093D3;
}

.arrow-right-blue {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #5093D3;
    display: inline-block;
}

.img_right {
    grid-column: 8/13; 
}

.img_left {
    grid-column: 1/6;
}

.desc_left {
    grid-column: 2/6; 
}

.desc_right {
    grid-column: 9/11;
}

.desc_about {
    grid-column: 4/5;
}

.img_leftabout {
    grid-column: 1/3;
}

#about {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    margin-top: none;
    padding-bottom: none;
}

.desc_right h2 {
    border: 4px solid #FFF;
    width: fit-content;
    block-size: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.desc_left h2 {
    border: 4px solid #FFF;
    width: fit-content;
    block-size: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

#enter {
    border: 4px solid #FFF;
    width: fit-content;
    block-size: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    z-index: 1;
    right: 40px;
    bottom: 25%;
}

.square {
    height: 30px;
    width: 30px;
    background-color: #FFF;
}

.square:hover{
    height: 30px;
    width: 30px;
    background-color: #5093D3;
}

#contactbox{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid #FFF;
    height: 4rem;
    width: 400px;
    block-size: fit-content;
    padding: 1rem;
}
