@import url("https://use.typekit.net/ggw0fzp.css");

html {
    font-size: 16px;
}

body {
    background-color: black;
    font-family: "rocky", serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    color: white;
    margin: 5rem auto;
}

header {
    font-family: "rocky", serif;
    font-weight: 700;
    font-style: italic;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    display: inline;
    align-items: center;
}

main {
width: 100%;
}

footer {
    font-family: "rocky", serif;
    font-weight: 700;
    font-style: italic;
    color: white;
    width: 35rem;
    margin: 4rem;
    display:flex;
    align-items: center;
    justify-content: left;
}

h1,
nav {
    color: #FFF;
    font-family: Rocky;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

p {
    font-family: "rocky", serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    color: white;
}

h2,
footer {
    color: #FFF;
    text-align: center;
    font-family: Rocky;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 0 0 2rem;
}

a:visited,
.selected {
    color: #5093D3;
    border-bottom: 1px solid #5093D3;
}

main img {
    width: 100%;
}

.arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #FFF;
    display: inline-block;
  }

.arrow-right:hover{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #5093D3;
}